<section class="<%= dest %> <%= day %> screen active">
  <div class="title-container">
    <h1><%= day %>'s Forecast</h1>
  </div>
  <div class="row">
    <div class="arrow-box-left">
      <i class="fa fa-angle-left" aria-hidden="false"></i>
    </div>
    <div class="results-box">
      <div class="destination-box">
        <%= dest %>
      </div>
      <div class="info-box">
        <div class="data top"><%= direction %></div>
        <div class="data top"><%= speed %>mph</div>
        <div class="data bottom"><%= period %>s</div>
        <div class="data bottom"><%= height %>'</div>
      </div>
    </div>
    <div class="arrow-box-right">
      <i class="fa fa-angle-right" aria-hidden="false"></i>
    </div>
  </div>
</section>
