<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Where2Surf</title>
  <script src="https://use.fontawesome.com/56854e86f1.js"></script>
  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
  <header>
    <a href="http://magicseaweed.com">
      <img class="msw-logo" src="http://im-1-uk.msw.ms/msw_powered_by.png"/>
    </a>
  </header>
  <section class="details screen"></section>
  <%- include('partials/forecast', {
    dest: today.dest,
    direction: today.direction,
    speed: today.speed,
    period: today.period,
    height: today.height
  }) %>
  <!-- <%- include('partials/forecast', {
    dest: tomorrow.dest,
    direction: tomorrow.direction,
    speed: tomorrow.speed,
    period: tomorrow.period,
    height: tomorrow.height
  }) %> -->
  <section class="<%= today.dest %> screen active">
    <div class="title-container">
      <h1>Title copy</h1>
    </div>
    <div class="row">
      <i class="fa fa-angle-left" aria-hidden="false"></i>
      <div class="results-box">
        <div class="destination-box">
          <%= today.dest %>
        </div>
        <div class="info-box">
          <div class="data top"><%= today.direction %></div>
          <div class="data top"><%= today.speed %>mph</div>
          <div class="data bottom"><%= today.period %>s</div>
          <div class="data bottom"><%= today.height %>'</div>
        </div>
      </div>
      <i class="fa fa-angle-right" aria-hidden="false"></i>
    </div>
  </section>
  <section class="tomorrow screen"></section>
</body>
</html>
