<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Where2Surf</title>
  <script src="https://use.fontawesome.com/56854e86f1.js"></script>
  <link rel="stylesheet" type="text/css" href="reset.css" />
  <link rel="stylesheet" type="text/css" href="index.css" />
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body class="<%= fo.dest %>">
  <header>
    <a href="http://magicseaweed.com">
      <img class="msw-logo" src="http://im-1-uk.msw.ms/msw_powered_by.png"/>
    </a>
  </header>
  <div class="main-container">
    <h1 class="title">Where2Surf</h1>
    <div class="results-row">
      <i class="fa fa-angle-left" aria-hidden="false"></i>
      <div class="results-box">
        <div class="destination-box">
          <%= fo.dest %>
        </div>
        <div class="info-box">
          <div class="data top"><%= fo.direction %>ยบ</div>
          <div class="data top"><%= fo.speed %> mph</div>
          <div class="data bottom"><%= fo.period %> s</div>
          <div class="data bottom"><%= fo.height %> ft</div>
        </div>
      </div>
      <i class="fa fa-angle-right" aria-hidden="false"></i>
    </div>
    <i class="fa fa-angle-down" aria-hidden="false"></i>
  </div>
</body>
</html>
